In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.DataFrame({'Age':[20,21,22,23,24,25,26,27,28,29,30,50]})
data.head(3)

   Age
0   20
1   21
2   22

In [7]:
mean=np.mean(data['Age'])
std=np.std(data['Age'])
print(mean)
print(std)

27.083333333333332
7.543853274171114

In [9]:
data['Z-Score']=(data['Age']-mean)/std
data.head()

   Age   Z-Score
0   20 -0.938954
1   21 -0.806396
2   22 -0.673838
3   23 -0.541280
4   24 -0.408721

In [10]:
data['Z-Score']>3

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
Name: Z-Score, dtype: bool