# 1). Preprocessing 
 - Anamelly
      - outliers
      - Structures
      - Data
       - Type
  - Missing values
  - Feature Scalling 
      - bring data into a scale
      - min_max scaling
      - standard scaling(Z-Score normalization)
      - Roburst scaling
      - logrithmic scaling
  - Lables (dependent or y)
  - Features (Independent or X)

# 1). Min Max Scaling

In [30]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

In [31]:
#simple data
data={
    'Value': [10,30,20,40,50]
}
df=pd.DataFrame(data)

In [32]:
df

   Value
0     10
1     30
2     20
3     40
4     50

In [33]:
scaler = MinMaxScaler()
df['Scaled_value'] = scaler.fit_transform(df[['Value']])
df

   Value  Scaled_value
0     10          0.00
1     30          0.50
2     20          0.25
3     40          0.75
4     50          1.00

# 2). Standard Scaler or Z-Score normalization

In [34]:
from sklearn.preprocessing import StandardScaler
scaler2 = StandardScaler()
df['Scaled_value'] = scaler2.fit_transform(df[['Value']])
df

   Value  Scaled_value
0     10     -1.414214
1     30      0.000000
2     20     -0.707107
3     40      0.707107
4     50      1.414214

# 3). Robust Scaler

In [35]:
from sklearn.preprocessing import RobustScaler
scaler3 = RobustScaler()
df['Scaled_value'] = scaler3.fit_transform(df[['Value']])
df

   Value  Scaled_value
0     10          -1.0
1     30           0.0
2     20          -0.5
3     40           0.5
4     50           1.0

# 4). Logrithmic Scaling or Normalization

In [47]:
data1={
   'Numbers':[10000,30000,50000,70000,90000]
}
df1=pd.DataFrame(data1)

In [48]:
df1

   Numbers
0    10000
1    30000
2    50000
3    70000
4    90000

In [51]:
df1['log10_of_Numbers'] = np.log10(df1['Numbers'])

In [52]:
df1['log_of_Numbers'] = np.log(df1['Numbers'])

In [54]:
df1['log2_of_Numbers'] = np.log2(df1['Numbers'])

In [55]:
df1

   Numbers  log_of_Numbers  log10_of_Numbers  log2_of_Numbers
0    10000        9.210340          4.000000        13.287712
1    30000       10.308953          4.477121        14.872675
2    50000       10.819778          4.698970        15.609640
3    70000       11.156251          4.845098        16.095067
4    90000       11.407565          4.954243        16.457637